.pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
    color: #a53232;
}

.btn-responsive-full{
    width: 100%;
    margin-right: 0;
}

@media screen and (min-width: 600px) {
    .btn-responsive-full{
        width: fit-content;
        margin-right: 0.5rem!important;
    }
}